<div class="container">
  <h1 class="text-center mt-5 mb-5"><%= @event.title %></h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= @event.title %></h5>
          <p class="card-text"><%= @event.description %></p>
          <p class="card-text"><strong>Date :</strong> <%= @event.date %></p>
          <p class="card-text"><strong>Lieu :</strong> <%= @event.location %></p>
          <a href="#" class="btn btn-primary">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>
</div>
